


.icon{
    position: absolute;
     font-size: 30px;
      color: aliceblue;
     right: 22px;
}
.multipul_icon{
    position: absolute;
     font-size: 30px;
      color: aliceblue;
     right: 22px;
}